* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


/* Calculator */
.calculator {  display: grid;
    grid-template-columns: 1.8fr 1.8fr 1.8fr 1.8fr 1.8fr;
    grid-template-rows: 0.3fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-auto-flow: row;
    gap: 5px;
    grid-template-areas:
      "Result Result Result Result Result"
      "ac delete changeValue percentage division"
      "numberSeven numberEight numberNine . multiplication"
      "numberFour numberFive numberSix . substract"
      "numberOne numberTwo numberThree . add"
      "cero cero cero dot equal";
     border: 2px solid black;
     border-radius: 15px;
     height: 600px;
     width: 500px;
     margin: auto;
     margin-top: 5%;
  background-color: rgb(224, 222, 222);
  }

  .calculator div {
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    background-color: white;
  }

  .calculator button {
    font-size: 30px;
    background: none;
    border: 0;
    color: inherit;
    background-color: none;
  }

  .buttons:hover {
    background-color: rgba(121, 189, 253, 0.268);
    border-color: blue;
    cursor: pointer;
  }

  .buttons:active {
    transform: scale(0.9);
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transition-duration: 300ms;

  }

  .ac { grid-area: ac;
        width: 90%;
        height: 90%;
        margin-left: 10%;
  }

  .ac button {
    margin-top: 25%;
  }
  
  .delete { 
    grid-area: delete; 
    width: 90%;
    height: 90%; 
    margin-left: 13%; 
  }

  .delete button {
    margin-top: 25%;
  }
  
  .changeValue { 
    grid-area: changeValue; 
    width: 90%;
    height: 90%; 
    margin-left: 13%;                    
  }
  
  .changeValue button {
    margin-top: 25%;
  }

  .result { 
    grid-area: Result;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .numberCero { 
    grid-area: cero; 
    margin-left: 3%;
    height: 90%;
    padding-bottom: 2;
  }

  .numberCero button {
    margin-top: 7%;
  }
  
  .dot { 
    grid-area: dot; 
    width: 90%;
    height: 90%;
    margin-left: 7%;
  }

  .dot button {
    margin-top: 17%;
  }
  
  .equal { 
    grid-area: equal; 
    width: 90%;
    height: 90%;
    margin-left: 3%;
  }

  .equal button {
    margin-top: 23%;
  }
  
  .numberOne { 
    grid-area: numberOne; 
    width: 90%;
    height: 90%;
    margin-left: 10%;
  }

   .numberOne button {
    margin-top: 25%;
  }
  
  .numberTwo { 
    grid-area: numberTwo;
    width: 90%;
    height: 90%;
    margin-left: 13%;
   }
  
   .numberTwo button {
    margin-top: 25%;
  }
  

  .numberThree {
     grid-area: numberThree;
     width: 90%;
    height: 90%;
    margin-left: 13%;
    }
  
    .numberThree button {
      margin-top: 25%;
    }

  .numberFour { 
    grid-area: numberFour; 
    width: 90%;
    height: 90%;
    margin-left: 10%;
  }

  .numberFour button {
    margin-top: 25%;
  }
  
  .numberFive { 
    width: 90%;
    height: 90%;
    grid-area: numberFive;
    margin-left: 13%;
   }

   .numberFive button {
    margin-top: 25%;
  }
  
  .numberSix { 
    grid-area: numberSix; 
    width: 90%;
    height: 90%;
    margin-left: 13%;
  }

  .numberSix button {
    margin-top: 25%;
  }
  
  .numberSeven { 
    grid-area: numberSeven;
    width: 90%;
    height: 90%;
    margin-left: 10%;
  }

  .numberSeven button {
    margin-top: 25%;
  }
  
  .numberEight { 
    width: 90%;
    height: 90%;
    grid-area: numberEight;
    margin-left: 13%;
   }

   .numberEight button {
    margin-top: 25%;
  }
  
  .numberNine { 
    width: 90%;
    height: 90%;
    grid-area: numberNine;
    margin-left: 13%;
   }

   .numberNine button {
    margin-top: 25%;
  }
  
  .percentage { 
    grid-area: percentage;
    width: 90%;
    height: 90%;
    margin-left: 8%;
  }

  .percentage button {
    margin-top: 25%;
  }
  
  .division { 
    grid-area: division;
    width: 90%;
    height: 90%;
    margin-left: 3%;
  }

  .division button {
    margin-top: 25%;
  }
  
  .multiplication { 
    grid-area: multiplication;
    width: 90%;
    height: 90%;
    margin-left: 3%;
  }

  .multiplication button {
    margin-top: 31%;
  }
  
  .substract { 
    grid-area: substract; 
    width: 90%;
    height: 90%;
    margin-left: 3%;
  }

  .substract button {
    margin-top: 22%;
  }
  
  .add { 
    grid-area: add; 
    width: 90%;
    height: 90%;
    margin-left: 3%;
  }

  .add button {
    margin-top: 22%;
  }
  